.dashboard-container {
    padding: 15px;
    height: calc(100% - 20px);
    background-color: rgb(216 239 239);

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .content {
        display: flex;

        .c-left {
            width: 40%;
            border: 1px solid green;
            display: flex;
            flex-wrap: wrap;

            .child {
                width: 50%;
                height: 300px;
                gap: 10px;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}