.img-preview {
    border: 1px dashed gray;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;

    img {
        max-height: 100%;
        max-width: 100%;
    }

}