body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1920px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}


.app-container {

  font-size: 1.5rem;

  .header-container {



    .btn-Login {
      border-radius: 7px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 50px;
    }

    .btn-Signup {

      border-radius: 7px;
      padding: 0 15px;
      border: 1px solid #535353;
      color: white;
      background: #303030;
      height: 50px;

      &:hover {
        background: black;
      }
    }

    .navbar {
      z-index: 10;
      padding: 10px;

      .navbar-brand {
        font-size: 2rem;
      }

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }

  .homepage-container {
    padding: 100px;
    background-color: #d4eaef;


    .homepage-title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .video-homepage {
        width: 55%;
      }

      .homepage-content {

        .title-1 {
          font-size: 80px;
          font-weight: 600;
        }

        .title-2 {
          margin: 15px 0;
        }

        .title-3 {
          button {
            border-radius: 10px;
            padding: 0 20px;
            color: white;
            background: #303030;
            height: 50px;

            &:hover {
              background: black;
            }
          }
        }
      }
    }


  }
}